			body{
				perspective: 800px;
				background:linear-gradient(to right,#3b8d99,#6b6b83,#aa4b6b);/*背景色*/
			}
			section{
				width: 300px;
				height: 200px;
				margin: 200px auto;
				position: relative;/*相对定位*/
				transform-style:preserve-3d ;
				/*添加动画效果*/
				animation: rotate 5s linear infinite;/*动画效果*/
				background: url(../img/图图.jpg)no-repeat;/*正中间的图片*/
				background-size: 300px 200px;/*背景图设置大小*/
			}
			section:hover{
				/*鼠标放入暂停*/
				animation-play-state:paused;
			}
			/*动画旋转样式*/
			@keyframes rotate{
				0%{
					transform: rotateY(0);
					}
				100%{
					transform: rotateY(360deg);
				}
				
			}
			section div{
				width: 100%;
				height: 100%;
				position: absolute;/*绝对定位*/
				top: 0;/*绝对定位的值*/
				left: 0;
			}
			section div:nth-child(1){
				background:url(../img/01.jpg) no-repeat;/*图片只显示一次*/
				transform: translateZ(300px);
			}
			section div:nth-child(2){
				/*先旋转,再移动距离*/
				background:url(../img/02.jpg) no-repeat;/*图片只显示一次*/
				transform: rotateY(60deg) translatez(300px);/*沿着Y轴旋转60度*/	
			}
			section div:nth-child(3){
				/*先旋转,再移动距离*/
				background:url(../img/03.jpg) no-repeat;/*图片只显示一次*/
				transform: rotateY(120deg) translateZ(300px);/*沿着Y轴旋转120度*/	
			}
			section div:nth-child(4){
				/*先旋转,再移动距离*/
				background:url(../img/04.jpg) no-repeat;/*图片只显示一次*/
				transform: rotateY(180deg) translateZ(300px);/*沿着Y轴旋转180度*/	
			}
			section div:nth-child(5){
				/*先旋转,再移动距离*/
				background:url(../img/05.jpg) no-repeat;/*图片只显示一次*/
				transform: rotateY(240deg) translateZ(300px);/*沿着Y轴旋转240度*/	
			}
			section div:nth-child(6){
				/*先旋转,再移动距离*/
				background:url(../img/06.jpg) no-repeat;/*图片只显示一次*/
				transform: rotateY(300deg) translateZ(300px);/*沿着Y轴旋转300度*/	
			}